{% extends 'base.html' %}
{% block content %}

<h1 class="card-header pb-2 mb-2 border-bottom">Books  <i class="fa-solid fa-book fa-xs"></i></h1>
<br/>
<div class="row">
    {% for book in books %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ book.cover.url }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.summary }}</p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
</div>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% endblock %}

