{% extends 'base.html' %}
{% block content %}

<h2>{{ category.name }}</h2>

<div class="row">
    {% for book in category_books %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ book.cover.url }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.summary }}</p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
</div>

<a href="{% url 'categories' %}" class="btn btn-secondary">Back</a>

{% endblock %}
